.us {
  margin-top: 30px;
}

.us h3 {
  text-align: center;
}

.us a {
  text-decoration: none;
  color: #000;
}

.us input {
  margin-top: 5px;
  padding: 5px 8px;
  border: none;
  border-radius: 10px;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filters {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.search {
  width: 100%;
}

.search input {
  height: 25px;
  width: 250px;
}

.parameters {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  margin-left: 0;
}

.parameters div {
  margin-right: 10px;
}

.unitsType {
  margin: 26px auto;
  width: 150px;
  text-align: left;
}
