.card {
  margin: 15px 15px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  max-width: 480px;
  min-height: 300px;
  width: 100%;
  background: #292929;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 0px 0 4px rgba(0, 0, 0, 0.25);
}

.interface {
  display: block;
  width: 50%;
  text-align: center;
}

.interface, .description {
  margin: 0 5px;
}

.price {
  font-size: 20px;
  color: #fff;
  font-weight: 100;
}

.interface img {
  border-radius: 8px;
  width: 100%;
  text-align: center;
}

.controls {
  margin-bottom: 0;
}

.description {
  width: 50%;
}

.config {
  color: #ffbb00 !important; 
}

.description h3, .description span {
  text-align: center;
  display: block;
  color: #ffbb00;
}

.description div {
  width: 100%;
}

.description p {
  display: block;
  color: #fff;
}

.specs {
  width: 100%;
}

.specs p {
  /* width: 25px; */
  word-wrap: break-word;
}

.red {
  color: #ffbb00;
  font-size: 18px;
  font-weight: 600;
}

.add {
  background: #3f7e0f;
}

.add:hover {
  background: #305f0c;
}

.remove {
  background: #991010;
}

.remove:hover {
  background: #701010;
}

.top {
  background: #000;
}

.top:hover {
  background: rgb(41, 40, 40);
}

.add, .remove, .top {
  margin: 8px auto;
  display: block;
  width: 100%;
  height: 33px;
  border-radius: 6px;
  border: none;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.add:disabled, .remove:disabled {
  background: #787474;
}