.header {
  margin: 0 auto;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, .89);
  position: relative;
  display: block;
  position: fixed;
  top: 0;
  z-index: 1;
}

.title {
  margin: 0;
}

.about {
  color: rgb(231, 78, 78);
}

@media only screen and (max-width: 780px)  {
  .header {
    position: relative;
    height: 250px;
    padding: 10px 5px;
  }
}
